---
import { Image } from "astro:assets";

interface Props {
  imageData: ImageMetadata;
  aspectRatio: string; // e.g. "16 / 9", "4 / 3", "1 / 1"
  widths: number[];
  imagePosition?: string;
  class?: string;
  alt?: string;
  loading?: "lazy" | "eager";
}

const {
  imageData,
  aspectRatio,
  widths,
  imagePosition = "center center",
  class: className = "",
  alt = "",
  loading = "lazy",
} = Astro.props;
---

<div
  class={`image`}
  style={`
    --aspect-ratio: ${aspectRatio};
    --image-position: ${imagePosition};
  `}
>
  <Image
    src={imageData}
    alt={alt}
    loading={loading}
    class={`${className}`}
    widths={widths}
  />
</div>

<style>
  .image {
    width: 100%;
    aspect-ratio: var(--aspect-ratio);
    overflow: hidden;
  }

  .image :global(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: var(--image-position);
  }
</style>