---
import '@fontsource/montserrat/400.css';
import '@fontsource/montserrat/500.css';
import '@fontsource/montserrat/600.css';
import '@fontsource/nunito-sans/700.css';
import '@fontsource/nunito-sans/800.css';
import '../styles/global.css';

import SEO from '../components/SEO.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { type Lang } from '../i18n/utils';

interface Props {
  lang: Lang;
  title: string;
  description: string;
}

const { lang, title, description } = Astro.props;

---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    
    <SEO title={title}
      description={description}
    />

    <link rel="alternate" hreflang="x-default" href="/fr/" />
  </head>
  <body class="font-body bg-offwhite text-slate">
    <Header lang={lang} />
    <main>
      <slot />
    </main>
    <Footer lang={lang} />
  </body>
</html>
